/* ======================== Banner Style =================== */
@media screen and (max-width:992px) {
    /* =============== simple & pure section ================ */
.simple-pure > div{
    padding: 0 20px;
}
@media screen and (max-width:768px) {
    .simple-pure > div{
        padding: 0 20px;
    }
}
}
@media screen and (max-width:576px) {
    .strict-content h1{
        font-size: 60px;
        padding: 10px 50px ;
        margin-bottom: 20px;
    }
    .strict-content p{
        padding: 0 10px;
    }
    /* ==================== simple & pure section */
    .simple-pure{
        height: fit-content;
    }
    .simple-pure > div{
        padding: 20px;
    }
}